.jumbotron {
    background: skyblue;
    margin-top: 55px;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    /* position: absolute;
    left: 0;
    bottom: 0; */
}

.footer {
    padding: 10px 10px 0 10px;
    background-color: skyblue;
    margin-bottom: 0px;
    margin-top: 10px;
}

.footer-address-icon {
    padding-right: 10px;
}
